.collections-app-container {
    display: flex;
    width: 100%;
    min-height: 100%;
}

.change-mode-button {
    background-color: #181f29;
    width: fit-content;
    margin: 1rem auto;
    padding: 0.5rem;
    color: #e5e5e5;
    border: 1px solid #9f8d69;
    border-radius: 0.5rem;
}

/* .collections-list-container, */
/* .playlists-list-container */
.lists-container {
    background-color: #0e1115;

    width: 20%;
    min-width: 12rem;

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    border-bottom: 1px solid #9f8d69;
    border-top: 1px solid #9f8d69;
    border-right: 1px solid #9f8d69;
}

.header-songlist-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}
