.collections-list {
    background-color: #0e1115;
    height: 100%;

    h3 {
        color: #e5e5e5;
    }

    ul {
        padding: 0;
    }

    a {
        text-decoration: none;
        color: #bbbbbb;
    }

    a:hover {
        text-shadow: 0px 0px 1px #e5e5e5;
    }

    li {
        list-style-type: none;
    }
}
